*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{  
--Moderate-violet: hsl(263, 55%, 52%);
--Very-dark-grayish-blue: hsl(217, 19%, 35%);
--Very-dark-blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(0, 0%, 81%);
--Light-grayish-blue: hsl(210, 46%, 95%);
}
body{
    background: var(--Light-gray);
}
.container{
    width: 68%;
    margin: 50px auto;
}
.flex-container{
    display: flex;
}

.wrap{
    margin-right: 20px;
    flex: 10;
}

.wrap h5{
    padding-top: 10px;
}
/* card_box 1-2 */
.card_box{
    display: flex;
    /* margin-right: 20px; */
}
.card_box h5{
    color: var(--Light-grayish-blue);
    font-size: 12px;
}


.box_card_B{
    display: flex;
    margin-top: 20px;
}
.box_card_B h5{
    color: var(--Light-grayish-blue);
    font-size: 12px;
}
/* end of card box 1-B */

.card1{
    margin-right: 20px;
    padding: 20px;
    font-size: 12px;
    border-radius: 10px;
    flex:8;
   width: 180px;
    background-color: var(--Moderate-violet);
}

.card2{
    background-color: var(--Very-dark-grayish-blue);
    /* margin-right: 20px; */
    padding: 20px;
    font-size: 12px;
    flex: 4;
    border-radius: 10px;
    width: 180px;
}
.card3{
    margin-right: 20px;
    padding: 20px;
    font-size: 10px;
    border-radius: 10px;
    width: 300px;
    background-color: var(--White);
    flex: 4;
}
.card3 h5{
    color: var(--Very-dark-grayish-blue);
    font-size: 12px;
}
.card4{
    background-color: var(--Very-dark-blackish-blue);
    /* margin-right: 20px; */
    padding: 20px;
    border-radius: 10px;
    width: 180px;
    flex: 8;
    font-size: 12px;
 }
 .float_right {
    padding: 20px;
    font-size: 10px;
    border-radius: 10px;
    width: 300px;
    background-color: var(--White);
    flex: 2; 
 }
 .float_right h5{
    color: var(--Very-dark-grayish-blue);
    font-size: 12px;
    padding: 10px; 
 }

/* para section */
.card1 p{
    color: var(--Very-dark-grayish-blue);
    padding-top: 8px;
    padding-bottom: 10px;
}
.card2 p{
    color: var(--Light-gray);
    padding-top: 8px;
}
.card3 p{ color: var(--Light-gray);
    padding-top: 8px;
}
.card4 p{
    color: var(--Light-gray);
    padding-top: 8px;
    padding-bottom: 10px;
}

.float_right p{
    color: var(--Light-gray);
    padding-top: 8px;
    padding-bottom: 10px; 
}
/* End para section */

/* card1 img section */

.card1 img{
    border-radius: 50px;
    width: 30px;
  }

.card2 img{
    border-radius: 50px;
    width: 30px;
}
.card3 img{
    border-radius: 50px;
    width: 30px;
 }
 .card4 img{
    border-radius: 50px;
    width: 30px;
 }
 .float_right img{
     border-radius: 50px;
     width: 30px;
 }

.img{
    display: flex;
    align-items: center;
}
.img h6{
    padding-left: 10px;
    color: var(--Light-grayish-blue);
}
.img span{
    color: var(--Light-gray);
}
/* End card1 img section */

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
    .flex-container{ 
        flex-direction: column;
    }

    .wrap{
        width: 100%;
        margin: 0px 0px 20px 0px;
    }

    .float_right {
        width: 100%;
    }
    .card_box, .box_card_B{ 
        flex-direction: column;
    }

    .card_box .card1, .card_box .card2, .box_card_B .card3, .box_card_B .card4 {
        width: 100%;
        flex: 1;
        /* margin: 0px 0px 20px 0px; */
    }
    .card_box .card1,  .box_card_B .card3 {
        margin: 0px 0px 20px 0px;
    }
}